/* ========== Hero section ========== */
.top-section {
  padding-bottom: 176px;
}

.hero-bg-1 {
  background-image: url(../assets/imgs/Hero-img.jpg);
}

.hero-bg-2 {
  background-image: url(../assets/imgs/Hero-img-2.png);
}

.hero-bg-3 {
  background-image: url(../assets/imgs/Hero-img-3.png);
}

.hero-bg {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding-block: 192px;
  height: 834.5px;
}

.hero-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 834.5px;
  background-color: rgb(0 0 0 / 80%);
  z-index: 1;
}

.hero-bg .container {
  position: relative;
  z-index: 2;
}

.swiper-container-rel {
  position: relative;
  height: 100%;

  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-bg .container {
  position: relative;
  z-index: 2;
}


.hero-header-and-text {
  text-align: center;
  max-width: 877px;
  margin-inline: auto;
}

.hero-header-and-text h1 {
  margin-bottom: 16px;
  font-size: clamp(3.063rem, 2.784rem + 1.14vw, 3.813rem);
  font-weight: 600;
  line-height: clamp(4.313rem, 3.941rem + 1.52vw, 5.313rem);
}

.hero-header-and-text h1 {
  color: #EAEAEA;
}

.hero-header-and-text p,
.cta-header-and-text p {
  font-size: clamp(1rem, 0.907rem + 0.38vw, 1.25rem);
  font-weight: 400;
  line-height: clamp(1.375rem, 1.236rem + 0.57vw, 1.75rem);
}

.hero-header-and-text p {
  color: #E9F1E4;
}

.cta-header-and-text {
  /* color: #E2C693; */
  max-width: 608px;
}

.hero-button,
.cta-button,
.lm-button,
.sm-button {
  background-color: #6a994e;
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: max-content;
  transition: all 150ms ease-in-out;
  display: block;
}

.hero-button,
.cta-button {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-inline: auto;
}

.lm-button,
.sm-button {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.sm-button {
  margin-inline: auto;
}

.lm-button {
  margin-inline: 0;
}

.lm-button,
.sm-button {
  box-shadow: 0px 4px 16px rgb(247 247 247);
}

.hero-button:hover,
.cta-button:hover,
.lm-button:hover,
.sm-button:hover {
  background-color: #54793e;
}

/* ========== Quezon City Animal Care and Adoption Center section ========== */
/* ========== PAWS Animal Rehabilitation Center (PARC) section ========== */
.tw-section,
.tw-section-reverse {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.header-and-text-center {
  text-align: center;
  max-width: 608px;
  margin-inline: auto;
}

.tw-section .content,
.tw-section-reverse .content {
  flex: 1;
}

.tw-section .content img,
.tw-section-reverse .content img {
  width: 100%;
  border-radius: 20px;
}

.illustrations {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  display: block;
  margin-inline: auto;
}

/* .blob-1 {
  border-radius: 61% 39% 29% 71% / 52% 66% 34% 48%;
}

.blob-2 {
  border-radius: 42% 58% 63% 37% / 54% 41% 59% 46%;
}

.blob-3 {
  border-radius: 75% 25% 61% 39% / 47% 68% 32% 59%;
} */

.header-and-text h2,
.header-and-text-center h2,
.cta-header-and-text h2 {
  margin-bottom: 8px;
  font-size: clamp(1.938rem, 1.752rem + 0.76vw, 2.438rem);
  font-weight: 600;
  line-height: clamp(2.688rem, 2.409rem + 1.14vw, 3.438rem);
}

.header-and-text p,
.header-and-text-center p {
  font-size: clamp(1rem, 0.907rem + 0.38vw, 1.25rem);
  font-weight: 400;
  line-height: clamp(1.375rem, 1.236rem + 0.57vw, 1.75rem);
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  margin-top: 32px;
}

.cards-container .cards-row {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}

.cards-container .cards-row:nth-child(1) {
  margin-top: -25%;
}

.cards-container .cards-row:nth-child(2) {
  margin-top: 25%;
}

.cards-container .cards {
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  cursor: pointer;
  text-decoration: none;
}

.cards-container p:nth-child(1) {
  font-weight: 600;
  color: #292929;
}

.cards-container img {
  width: 350px;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 1/1;
}

.cards-container .description,
.cards-container .sex {
  display: none;
}

/* ========== Meet Pets Ready for Adoption section ========== */
.box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 1034px;
  margin-inline: auto;
  margin-top: 32px;
}

.box-container .box {
  width: calc(50% - 16px);
  padding: 24px;
  border-radius: 8px;
  background-color: #386641;
  height: 163px;    
}

.box-container h3 {
  font-size: clamp(1.563rem, 1.423rem + 0.57vw, 1.938rem);
  line-height: clamp(2.188rem, 2.002rem + 0.76vw, 2.688rem);
  font-weight: 600;
  color: #fff;
}

.box-container p {
  color: #eee;
}

.box-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.box-flex:hover {
  transform: translateY(-10px);
}

.box-flex span {
  font-size: 72px;
  color: #fff;
}

.adopting-section {
  background-color: #E9F1E4;
  padding: 6rem 0;
}

.home-shelters {
  margin-bottom: 32px;
}

/* CTA */
.cta-section {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d405b;
  max-width: fit-content;
  border-radius: 10px;
  overflow: hidden;
}

.cta-container .cta-img {
  height: 280px;
}

.cta-container .cta-img img {
  height: 100%;
}

.cta-header-and-text {
  padding: 2rem;
  margin-left: 10px;
}

.cta-header-and-text h1,
.cta-header-and-text p {
  color: #fff;
}

.cta-header-and-text .cta-button {
  text-align: left;
  margin-inline: unset;
}

@media screen and (min-width: 700px) {
  .hero-bg {
    padding-block: 288px;
  }

  .tw-section,
  .tw-section-reverse {
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }

  .header-and-text h2 {
    margin-top: 0;
  }

  .tw-section-reverse {
    flex-direction: row-reverse;
  }

  .cards-container {
    column-gap: 32px;
  }

  .cards-container .cards-row {
    row-gap: 32px;
  }

  .cards-container .cards-row:nth-child(1) {
    margin-top: -13%;
  }


  .cards-container .cards-row:nth-child(2) {
    margin-top: 13%;
  }

  .box-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .box-container .box {
    padding: 24px;
  }

  .sm-button {
    margin-top: 40px;
  }
}

@media screen and (min-width: 900px) {

  .tw-section,
  .tw-section-reverse {
    column-gap: 40px;
  }
}