.status-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
}

.status-container .header-and-text-center {
    margin-bottom: 24px;
}

.status-box {
    display: flex;
    column-gap: 12px;
    width: 100%;
    max-width: 608px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 8px;
}

.status-box .pet-img {
    height: 150px;
    border-radius: 8px;
}

.status-box .details {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
}

.status-box .view-btn {
    width: max-content;
}

.status-box .close {
    cursor: pointer;
    margin-left: auto;
    display: block;
    border-radius: 12px;
    transition: all 150ms ease-in-out;
    height: max-content;
}

@media screen and (min-width: 700px) {
    .status-container {
        row-gap: 16px;
    }

    .status-box {
        align-items: center;
    }

    .status-box .details {
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .status-box .close {
        margin-left: 0;
    }
}

.table-wrapper {
    max-width: 608px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: #707070;
    font-size: clamp(0.813rem, 0.743rem + 0.29vw, 1rem);
    line-height: clamp(1.125rem, 1.032rem + 0.38vw, 1.375rem);
    font-weight: 500;
}

tbody tr:hover {
    background-color: #F3F3F5;
    transition: all 100ms ease-in-out;
}

th,
td {
    text-align: center;
    border-bottom: 1px solid #BDBDBD;
    padding: 16px;
    font-size: clamp(0.625rem, 0.486rem + 0.57vw, 1rem);
    line-height: clamp(0.875rem, 0.689rem + 0.76vw, 1.375rem);
}

