* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* html {

} */

/* body {

} */

p {
    color: #545454;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #292929;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    padding-inline: 2rem;
    margin-inline: auto;
}

.main {
    width: 100%;
}

.sections {
    width: 100%;
    padding-block: 4rem;
}

.containers {
    display: flex;
    justify-content: center;
    flex-direction: row;
}





