.profile-form {
    max-width: 608px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
    border-radius: 16px;
    background-color: white;
    margin-inline: auto;
}

.profile-form-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.paf-header-and-text h2 {
    font-size: clamp(1.25rem, 1.134rem + 0.48vw, 1.563rem);
    line-height: clamp(1.75rem, 1.587rem + 0.67vw, 2.188rem);
    font-weight: 700;
}

.profile-form .inputs-group {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.profile-form .row-input-group {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.profile-form .label-and-input {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    flex: 1;
}

.profile-form .label-and-input label {
    font-size: clamp(0.813rem, 0.743rem + 0.29vw, 1rem);
    line-height: clamp(1.125rem, 1.032rem + 0.38vw, 1.375rem);
    font-weight: 500;
    color: #292929;
}

.profile-form .label-and-input input {
    border: 1px solid #eaeaea;
    resize: vertical;
    border-radius: 12px;
    padding: 8px 16px;
    height: 48px;
    width: 100%;
    font-size: clamp(0.813rem, 0.743rem + 0.29vw, 1rem);
    line-height: clamp(1.125rem, 1.032rem + 0.38vw, 1.375rem);
}

.profile-form .buttons-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
}

.profile-form .buttons-group button {
    padding: 16px 24px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    width: max-content;
    border: 1px solid #eaeaea;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #292929;
    transition: all 150ms ease-in-out;
}

.profile-form .buttons-group button.hover-edit:hover {
    background-color: #eaeaea;
    border: 1px solid #292929;
}

.profile-form .buttons-group button.hover-save:hover {
    background-color: #c18215;
    border: 1px solid #292929;
}

.warning-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.warning-modal-visible {
    display: flex;
}

.warning-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.warning-modal-content p {
    margin-bottom: 8px;
    color: #545454;
}

.warning-modal-content .buttons-group {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.warning-modal-content button {
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
}


.warning-modal-content button:nth-child(1) {
    /* background-color: ; */
}

.warning-modal-content button:nth-child(2) {
    /* background-color: ; */
}

.warning-modal-content button#confirmSave {
    background-color: #cd9b44;
    color: white;
}

.warning-modal-content button#cancelSave {
    background-color: #eaeaea;
    color: #292929;
}

@media screen and (min-width: 700px) {
    .profile-form {
        padding: 32px 24px;
        border-radius: 16px;
        border: 1px solid #eaeaea;
    }

    .profile-form .row-input-group {
        flex-direction: row;
        column-gap: 8px;
    }    

    .profile-form .buttons-group button {
        width: max-content;
    }
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1220px) {
}