:root {
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;

    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;

    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;

    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;

    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
    --grey-100: ;
}
