.profile-form {
    max-width: 608px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
    border-radius: 16px;
    background-color: white;
    margin-inline: auto;
}

.profile-form-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.paf-header-and-text h2 {
    font-size: clamp(1.25rem, 1.134rem + 0.48vw, 1.563rem);
    line-height: clamp(1.75rem, 1.587rem + 0.67vw, 2.188rem);
    font-weight: 700;
}

.profile-form .inputs-group {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.profile-form .row-input-group {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.profile-form .label-and-input {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    flex: 1;
}

.profile-form label {
    font-size: clamp(0.813rem, 0.743rem + 0.29vw, 1rem);
    line-height: clamp(1.125rem, 1.032rem + 0.38vw, 1.375rem);
    font-weight: 500;
    color: #545454;
}

.profile-form input {
    border: 1px solid #eaeaea;
    resize: vertical;
    border-radius: 12px;
    padding: 8px 16px;
    height: 48px;
    width: 100%;
    font-size: clamp(0.813rem, 0.743rem + 0.29vw, 1rem);
    line-height: clamp(1.125rem, 1.032rem + 0.38vw, 1.375rem);
}

.profile-form .buttons-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
}

.profile-form button {
    padding: 12px 22px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    border: 1px solid #eaeaea;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #545454;
    transition: all 150ms ease-in-out;
}

.profile-form .edit-btn:hover {
    background-color: #eaeaea;
}

.profile-form .save-btn {
    display: none;
    background-color: #93e2a3;
    color: #095118;
}

.profile-form .save-btn:hover {
    background-color: #62d57a;
}

.profile-form .delete-btn {
    background-color: #e29393;
    color: #510909;
}

.profile-form .delete-btn:hover {
    background-color: #d56262;
}

/* =========== Warning modal =========== */
.warning-modal,
.danger-modal {
    position: fixed;
    background-color: rgba(41, 41, 41, 0.8);
    width: 100%;
    height: 100vh;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.warning-modal-visible {
    display: flex;
}

.danger-modal-visible {
    display: flex;
}

.warning-modal .modal-content,
.danger-modal .modal-content {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    max-width: 608px;
    height: max-content;
    margin-inline: auto;
    margin-inline: 16px;
}

.warning-modal .modal-details,
.danger-modal .modal-details {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.warning-modal .title {
    color: #C18215;
}


.danger-modal .title {
    color: #C11515;
}

.warning-modal .buttons-group,
.danger-modal .buttons-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
}

.warning-modal button,
.danger-modal button {
    padding: 12px 22px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    border: 1px solid #eaeaea;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #545454;
    transition: all 150ms ease-in-out;
}

.warning-modal #confirmSave {
    background-color: #e2c693;
    color: #513709;
}

.warning-modal #confirmSave:hover {
    background-color: #d5ab62;
}

.warning-modal #cancelSave:hover,
.danger-modal #cancelDeletion:hover {
    background-color: #eaeaea;
}

.danger-modal #confirmDeletion {
    background-color: #CD4444;
    color: #F9E8E8;
}

.danger-modal #confirmDeletion:hover {
    background-color: #C11515;
}

@media screen and (min-width: 700px) {
    .profile-form {
        padding: 32px 24px;
        border-radius: 16px;
        border: 1px solid #eaeaea;
    }

    .profile-form .row-input-group {
        flex-direction: row;
        column-gap: 8px;
    }
}