/* body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.print-area {
  display: none;
  padding: 40px;
}

@media print {
  table {
   visibility: hidden;
  }

  .print-area {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
} */

.custom-select-container {
  position: relative;
  width: 100%;
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  font-size: clamp(0.813rem, 0.743rem + 0.29vw, 1rem);
  line-height: clamp(1.125rem, 1.032rem + 0.38vw, 1.375rem);

  list-style: none;
  z-index: 100;
  overflow: hidden;
}

.custom-options li {
  padding: 8px 16px;
  cursor: pointer;
}

.custom-options li:hover {
  background-color: #eaeaea;
}

.hidden {
  display: none;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}






.warning-modal {
  position: fixed;
  background-color: rgba(41, 41, 41, 0.8);
  width: 100%;
  height: 100vh;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.warning-modal .modal-content {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  max-width: 608px;
  height: max-content;
  margin-inline: auto;
  margin-inline: 16px;
}

.warning-modal .modal-details {
 display: flex;
 flex-direction: column;
 row-gap: 16px;
}

.warning-modal .modal-buttons {
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}

.warning-modal .modal-buttons button {
  padding: 12px 22px;
  border-radius: 12px;
  border: none;
  background-color: transparent;
  border: 1px solid #eaeaea;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #292929;
  transition: all 150ms ease-in-out;
  width: 100%;
}

.warning-modal .modal-buttons button:nth-child(2) {
  background-color: #D5AB62;
  color: white;
}